<h1>新規ユーザー登録ページ</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :name, '名前' %>
  <%= f.text_field :name %>
  
  <%= f.label :email, 'メール' %>
  <%= f.email_field :email %>
  
  <%= f.label :password, 'パスワード' %>
  <%= f.password_field :password %>
  
  <%= f.label :password_confirmation, 'もう一度パスワードを入力してください' %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit '作成' %>
<% end %>

<p>既に登録済みの方はこちら <%= link_to 'ログインする', login_path %></p>